*{
    margin: 0%;
    padding: 0%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #1c1c1c; /* Optional: adds a dark background */
}
.login h2 {
    font-size: 2em;
    color: #fff;
}
.login .inputBx,
.signup .inputBx {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.login .inputBx input,
.signup .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1.1em;
}
.login .inputBx input[type="submit"] {
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg, #ff357a, #fff172);
    border: none;
    cursor: pointer;
}
.login .inputBx input::placeholder{
    color: rgba(255, 255, 255, 0.75);
}
.login .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.login .links a {
    color: #fff;
    text-decoration: none;
}
.ring {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}
.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 10s linear infinite;
}
.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}
.login {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.card {
    position: relative;
    width: 400px;
    height: 500px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.inputBx {
    position: relative;
}

.pass-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}